@keyframes shimmer {
  to {
    background-position-x: 0%
  }
}

body {
  background: linear-gradient(-45deg, #1cdbd9 40%, #d335de47 50%, #1cdbd9 60%);
  background-size: 400%;
  background-position-x: 100%;
  animation: shimmer 10s infinite linear;
  padding: 1em;
  margin: 1em;
}

.mainBox {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  
  margin: 2em;
}

.mainBoxStudents,
.mainBoxTeacher,
.error, 
.quizzbox {
  border-radius: 1em;
  box-shadow:5px 5px 15px 3px #1a1a1a;
  display: flex;
  flex: 1;
  margin: 0 1em;
  justify-content: space-around;
}

.quizzbox{
  background: rgba(202, 251, 255, 0.5);
  margin: 2em;
  margin-left: 10%;
  margin-right: 10%;
  padding: 2em;
}

.mainBoxStudents {
  background: rgba(202, 251, 255, 0.5);
}

.mainBoxTeacher {
  background-color: rgba(41, 255, 66, 0.5);
}

.shadow {
  overflow: hidden;
}

.credentials {
  margin: 5%;
}

h1 {
  text-align: center;
  transition: color 0.5s ease;
}

.blazon {
  text-align: center;
}

#blaz {
  border-radius: 10em;
  height: 20%;
  width: 20%;
}

.submit {
  margin: 1em;
}

.alignbtn {
  text-align: center;
}

footer {
  background-color: red;
  border-radius: 2em;
  margin: 1em;
  text-align: center;
}

nav {
  background-color:rgba(255, 255, 255, 0.3);;
  border-radius: 5em;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  margin-left: 20%;
  margin-right: 20%;
  position: sticky;
}

.under {
  display: none;
}

.under li {
  float: none;
  text-align: left;
  width: 100%;
  z-index: 1000;
}

.under a:hover{
  border-bottom: none ;
}

nav>ul li:hover .under {
  display: block;
}

.roll {
  content: ▼;
  font-size: 12px;
}

#warning {
  height: 50%;
  width: 50%;
}

.error {
  text-align: center;
  background-color: rgb(177, 255, 251);
  border-radius: 2em;
  margin-left: 35%;
  margin-right: 35%;
  box-shadow: 0px 0px 10px #232931;
}

.registerbox {
  background-color: #9a9a9a;
  text-align: center;
}

.question {
  background-color:rgba(255, 255, 255, 0.3);
  border-radius: 1em;
}
.boate{
  background-color: brown;
}

.results_box {
  margin-left: 15%;
  margin-right: 15%;
}

.result_question {
  background-color:rgba(255, 255, 255, 0.3);
  border-radius: 1em;
}

#quizzfinish{
  text-align: center;
}

.score{
  background-color: rgb(0, 0, 0);
  border-radius: 1em;
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;
}

.privacyboate {
  background-color:rgba(255, 255, 255, 0.3);;
  text-align: center;
  border-radius: 10em;
  margin-left: 15%;
  margin-right: 15%;
}

.miskabaniere{
  border-radius: 3em;
  padding: 2em;
  max-width: 30%;
}

.histoire{
  backdrop-filter: blur(3.4px);
  -webkit-backdrop-filter: blur(3.4px);
  background: rgba(202, 251, 255, 0.5);
  border: 1px solid rgba(0, 236, 255, 0.75);
  border-radius: 5em;
  box-shadow:5px 5px 15px 3px #1a1a1a;
  margin-left: 10%;
  margin-right: 10%;
  padding: 1em;
}

.accesquizz {
  background: rgba(202, 251, 255, 0.5);
  border-radius: 2em;
  margin: 2em;
  margin-left: 10%;
  margin-right: 10%;
  padding: 2em;
  text-align: center;
}