<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Archived quizz</title>
</head>

<body>
    <h1>Quiz archivés</h1>

    {% if quizzes %}
        <ul>
            {% for quiz in quizzes %}
                <li>
                    Quiz ID : {{ quiz._id }} <br>
                    Utilisateur : {{ quiz.user }} <br>
                    <a href="{{ url_for('archived_quizz', quizz_id=quiz._id) }}">Voir</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Aucun quiz archivé trouvé.</p>
    {% endif %}
</body>

<footer>
    <div>
        <a href="{{ url_for('privacy') }}">Privacy Policy</a>
    </div>
</footer>

</html>
