<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" />
    <title>Document</title>
</head>
<nav>
    <ul>
        <li class="roll">
            <a href="#">Themes &ensp;</a>
            <ul class="under">
                <li><a href="#">Youpi</a></li>
                <li><a href="#">l'école est finie</a></li>
            </ul>
        </li>
    </ul>
</nav>


<body>

</body>

</html>