<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" />
    <title>Document</title>
</head>

<body>
    <h1>Welcome to a very professional website</h1>
    <div class="blazon">
        <img id="blaz" src="{{ url_for('static', filename='images/bangerblazon.png') }}" alt="blazon">
    </div>
    <h2><a href="login"><button>Click here to login</button></a></h2>
</body>

</html>