<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

    <title>Miskatonic</title>
</head>

<body>
    <div>
        <div>
            <h1>Welcome to a very professional website</h1>
            <div class="mainBox">
                <div class="mainBoxStudents">
                    <div class="shadow">
                        <h2>Students</h2>
                        <div>
                            <div class="credentials">
                                <form action="/login" method="POST">
                                    <p><label for="user">Username</label></p>
                                    <p><input type="text" id="user" name="user" placeholder="**********" required></p>
                                    <p><label for="pwd">Password</label></p>
                                    <p><input type="password" id="pwd" name="pwd" placeholder="**********" required></p>
                                    <div class="alignbtn">
                                        <button type="submit" value="submit">Submit</button>
                                    </div>
                                </form>
                                <div>Not registerd yet ? <br><a href="register">Click here</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mainBoxTeacher">
                    <div class="shadow">
                        <h2>Teachers</h2>
                        <div>
                            <div class="credentials">
                                <form action="/login" method="POST">
                                    <label for="user">Username</label><br>
                                    <input type="text" id="user" name="user" placeholder="**********" required><br>
                                    <label for="pwd">Password</label><br>
                                    <input type="password" id="pwd" name="pwd" placeholder="**********" required>
                                    <div class="alignbtn">
                                        <button class="enter">Enter</button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="error">
            {% if message %}
            <p style="color:red;">{{ message }}</p>
            <img id="warning" src="{{ url_for('static', filename='images/warning.png') }}" alt="blazon"></img>
            {% endif %}
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

<footer>
    <div>
        <a href="{{ url_for('privacy') }}">Privacy Policy</a>
    </div>
</footer>

</html>