<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <title>Quiz</title>
</head>

<body>
    <nav>
        <p>
            Welcome, {{ user }} |
            <a href="{{ url_for('home') }}">Home</a> |
            <a href="{{ url_for('logout') }}">Logout</a>
        </p>
    </nav>
    <!-- Formulaire pour soumettre les réponses -->
    <form method="POST" action="{{ url_for('student_quizz', quizz_id=quizz['_id']) }}">
        {% for q in questions %}
        <div class="question">
            <h3>{{ loop.index }}. {{ q['question_text'] }}</h3>

            {% for option in q['responses'] %}
            <label>
                <input type="checkbox" name="response_{{ q['question_id'] }}" value="{{ option }}">
                {{ option }}
            </label><br>
            {% endfor %}
        </div>
        <hr>
        {% endfor %}
        <button type="submit">Submit All Answers</button>

    </form>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

<footer>
    <div>
        <a href="{{ url_for('privacy') }}">Privacy Policy</a>
    </div>
</footer>

</html>