<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" />
  <title>Espace Prof</title>
</head>

<body>
  <nav>
    <p>Welcome, {{ user }} | <a href="{{ url_for('home') }}">Home</a> | <a href="{{ url_for('logout') }}">Logout</a>
    </p>
  </nav>
  <div class="homebox">
    <h1>Espace Enseignant</h1>
    <p><a href="{{ url_for('teacher_quiz_setup') }}"><button>Créer un quiz</button></a></p>
    <div>
      <a href="{{ url_for('archived_quizz_list') }}"><button>Archive des quizzs</button></a>
    </div>
    <p><a href="{{ url_for('home') }}"><button>Retour</button></a></p>
    <p><a href="{{ url_for('logout') }}"><button>Déconnexion</button></a></p>
  </div>
</body>

</html>